.side-bar
  .header
    %h3.header__name
      aaaaaaaaa
      -# = current_user.name
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fas', 'cog', class: 'icon')
  .groups
    .group
      = link_to '#' do
        .group__name
          aaaaa
          -# = group.name
        .group__message
          メッセージはまだありません。